.app-window {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  height: fit-content;
  width: fit-content;
  min-width: 200px;
  min-height: 200px;
  background-color: rgb(255, 170, 203);
  border: solid rgb(206, 106, 144) 1px;
  display: flex;
  flex-direction: column;
}

.window-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgb(206, 106, 144) 1px;
  color: white;
}

.window-navbar p {
  margin: 0;
  margin-left: 5px;
  text-shadow: 1px 1px 1px black;
}

.close-button {
  height: 30px;
  width: 30px;
  background-color: rgb(209, 0, 77);
  display: flex;
  align-content: center;
  justify-content: center;
}

.close-button:hover {
  background-color: rgb(182, 0, 67);
  cursor: pointer;
}

.close-button h1 {
  margin: 0;
  font-size: 2em;
  color: white;
}

.app-context-menu {
  position: absolute;
  z-index: 10001;
  background-color: pink;
  width: fit-content;
  border: solid rgb(207, 124, 138);
  border-width: 1px 1px 0px 1px;
}

.app-context-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app-context-menu li {
  padding: 10px;
  border: solid rgb(207, 124, 138);
  border-width: 0px 0px 1px 0px;
}

.app-context-menu li:hover {
  background-color: rgb(250, 173, 186);
  cursor: pointer;
}

.app-context-menu a {
  color: rgb(230, 75, 101);
}

.app-context-menu li:hover a {
  color: rgb(255, 253, 253);
}