.app-window {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  height: fit-content;
  width: fit-content;
  min-width: 200px;
  min-height: 200px;
  background-color: blue;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
}

.window-navbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  border-bottom: solid black 2px;
}

.close-button {
  height: 30px;
  width: 30px;
  background-color: red;
}

.app-window-button {

}