.chat-menu {
    height: 200px;
    align-items: center;
    gap: 5px;
}

.chat-menu-input {
    width: 150px;
    height: 30px;
    font-family: monospace;
    text-align: center;
    border-radius: 20px;
    border: none;
}

.chat-menu-button {
    width: 120px;
    height: 40px;
    background-color: rgb(248, 36, 100);
    border-radius: 20px;
    font-family: monospace;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    border: none;
}

.chat-menu-button:hover {
    background-color: rgb(201, 19, 74);
    cursor: pointer;
}

.chat-menu p {
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    bottom: 0;
}

.chat-container {
    height: 100%;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    background-color: rgb(255, 221, 236);
}

.chat-row {
    padding: 10px;
    border: solid rgb(233, 199, 204);
    border-width: 0px 0px 1px 0px;
}

.chat-message-row {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.chat-message-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: dashed rgb(184, 161, 164);
    border-width: 0px 0px 1px 0px;
}

.chat-message-username {
    color: rgb(224, 7, 188);
    margin: 0;
}

.chat-message-time {
    color: grey;
    margin: 0;
}

.chat-message-text {
    color:black;
    overflow-wrap: break-word;
    margin: 0;
}

.chat-log-text {
    color: grey;
    margin: 0;
    text-align: center;
    overflow-wrap: break-word;
}

.chat-send-textbox {
    width: 200px;
}

.chat-send-button {
    background-color: rgb(224, 84, 143);
    color: white;
    font-family: monospace;
    font-weight: bold;
    border: none;
}

.chat-send-button:hover {
    background-color: rgb(204, 65, 123);
    cursor: pointer;
}

.chat-send-button:active {
    background-color: rgb(204, 43, 110);
}

.grayed-out {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.658);
    bottom: 0;
    align-items: center;
}

.chat-popup {
    width: 200px;
    height: 100px;
    background-color: rgb(255, 228, 237);
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    border: 1px solid rgb(219, 78, 125);
}

.chat-popup-input {
    width: 150px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: rgb(226, 32, 90);
}

.chat-popup-button {
    width: 150px;
    background-color: rgb(214, 91, 112);
    border: none;
    color: white;
    font-family: monospace;
    font-weight: bold;
    border-radius: 5px;
}

.chat-popup-button:hover {
    cursor: pointer;
    background-color: rgb(211, 56, 82);
}

.chat-popup-button:active {
    cursor: pointer;
    background-color: rgb(192, 67, 88);
}