.memory-game-menu {

}

.memory-game-menu p {
  text-wrap: nowrap;
}

.gameboard {
  margin: 5px;
}

.memory-game-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.memory-row {
  display: flex;
  flex-direction: row;
}

.memory-card {
  height: 50px;
  width: 50px;
  background-color: palevioletred;
  margin: 5px;
  background-image: url();
}

.memory-card-image {
  height: 100%;
  width: auto;
}

.visible {
  opacity: 100%;
  transition: 0.2s linear all;
}

.invisible {
  opacity: 20%;
  transition: 0.2s linear all;
}

.unclickable {
  pointer-events: none;
}

.controls-box {

}