.memory-row {
  display: flex;
  flex-direction: row;
}

.memory-card {
  height: 50px;
  width: 50px;
  background-color: palevioletred;
  margin: 5px;
}

.memory-card-image {
  height: 100%;
  width: auto;
}

.memory-card-image-covered {
  opacity: 20%;
}

.memory-card-image-uncovered {
  opacity: 100%;
}