.snake-game {
    padding: 20px;
    align-items: center;
    gap: 10px;
}

.snake-board-table {
    background-color: rgb(255, 236, 242);
    border-collapse: collapse;
    outline: solid rgb(179, 56, 129) 4px;
    border-radius: 5px;
}

.snake-board-td {
    height: 15px;
    width: 15px;
}

.snake-board-snake-cell {
    background-color: rgb(190, 37, 101);
    border-radius: 4px;
}

.snake-board-food-cell {
    background-color: rgb(218, 119, 160);
    border-radius: 10px;
}

.snake-gameover-message {
    position: absolute;
    top: 40%;
    left: 20%;
    background-color: aliceblue;
    width: 50%;
    padding: 10px;
    border: solid 2px pink;
    border-radius: 30px;
    text-align: center;
    color: pink;
  }