.snake-board-table {
    background-color: aqua;
}

.snake-board-td {
    border: 1px solid black;
    height: 30px;
    width: 30px;
}

.snake-board-weird {
    background-color: rgb(92, 28, 145);
    border: 1px solid black;
    height: 30px;
    width: 30px;
}

.snake-board-snake-cell {
    background-color: rgb(25, 0, 255);
}

.snake-board-food-cell {
    background-color: rgb(255, 0, 0);
}