@import url('taskbar.css');
@import url('desktop.css');
@import url('header.css');
@import url('appWindow.css');
@import url('memoryGame.css');

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  overflow-y: hidden;
}

.color {
  background-color: pink;
}
