.taskbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 100vh;
  gap: 15px;
  background-image: linear-gradient(
    to right,
    transparent 15px,
    rgb(243, 130, 164) 17px,
    rgb(243, 130, 164) 18px,
    rgb(255, 255, 255) 19px,
    rgb(243, 130, 164) 20px,
    rgb(243, 130, 164) 60px,
    rgb(255, 255, 255) 61px,
    rgb(243, 130, 164) 62px,
    rgb(243, 130, 164) 63px,
    transparent 65px
  );
  z-index: 10000;
  padding-left: 5px;
}

.taskbar img {
  max-width: 100%;
  height: auto;
}

.taskbar .button {
  height: auto;
  width: 100%;
  background-color: rgb(243, 104, 169);
  border-radius: 45%;
}

.taskbar .button:hover {
  background-color: rgb(224, 73, 143);
  cursor: pointer;
}

.taskbar a:active .button {
  background-color: rgb(209, 59, 129);
}

.taskbar a {
  max-width: 80px;
}