.taskbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: 100vh;
  gap: 15px;
  background-image: linear-gradient(to right, transparent 23%, rgb(243, 130, 164) 25%, rgb(243, 130, 164) 75%, transparent 77%);
  z-index: 10000;
  padding-left: 5px;
}

.taskbar img {
  max-width: 100%;
  height: auto;
}

.taskbar .button {
  height: 100%;
  width: auto;
  background-color: rgb(236, 71, 148);
  border-radius: 45%;
}

.taskbar .button:hover {
  background-color: rgb(201, 47, 118);
  cursor: pointer;
}

.taskbar a:active .button {
  background-color: rgb(241, 14, 120);
}

.taskbar a {
  max-width: 70px;
}